@font-face { font-family: 'Conv_MyriadPro-Regular'; src: url("../fonts/MyriadPro-Regular.eot"); src: local("☺"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Conv_MyriadPro-It'; src: url("../fonts/MyriadPro-It.eot"); src: local("☺"), url("../fonts/MyriadPro-It.woff") format("woff"), url("../fonts/MyriadPro-It.ttf") format("truetype"), url("../fonts/MyriadPro-It.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Conv_MyriadPro-Bold'; src: url("../fonts/MyriadPro-Bold.eot"); src: local("☺"), url("../fonts/MyriadPro-Bold.woff") format("woff"), url("../fonts/MyriadPro-Bold.ttf") format("truetype"), url("../fonts/MyriadPro-Bold.svg") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Conv_MyriadPro-BoldIt'; src: url("../fonts/MyriadPro-BoldIt.eot"); src: local("☺"), url("../fonts/MyriadPro-BoldIt.woff") format("woff"), url("../fonts/MyriadPro-BoldIt.ttf") format("truetype"), url("../fonts/MyriadPro-BoldIt.svg") format("svg"); font-weight: normal; font-style: normal; }

.search__submit { font: 0/0 a; text-shadow: none; color: transparent; }

.l-layout_map { width: 100%; }

.l-cols { position: relative; padding: 21px 0 25px; overflow: hidden; }

.sidebar { float: left; width: 215px; }
.sidebar img { -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; }

.main { overflow: hidden; }

.col { width: 45%; float: left; }

.col_right { float: right; }

.title-l-1 { font-weight: normal; font-style: normal; font-family: 'Conv_MyriadPro-Bold', Arial, sans-serif; font-size: 30px; color: #34272f; }

.title-l-2 { margin: 12px 0; font-size: 22px; color: #483b50; font-weight: normal; font-style: normal; font-family: 'Conv_MyriadPro-Bold', Arial, sans-serif; }
.title-l-2 span { color: #b5007d; }

.title-l-3 { margin: 10px 0 6px; font-size: 18px; color: #625667; font-weight: normal; font-style: normal; font-family: 'Conv_MyriadPro-Bold', Arial, sans-serif; }

.content { font-size: 14px; color: #6b6468; }
.content h1 { font-weight: normal; font-style: normal; font-family: 'Conv_MyriadPro-Bold', Arial, sans-serif; font-size: 30px; color: #34272f; }
.content h2 { margin: 12px 0; font-size: 22px; color: #483b50; font-weight: normal; font-style: normal; font-family: 'Conv_MyriadPro-Bold', Arial, sans-serif; }
.content h3 { margin: 10px 0 6px; font-size: 18px; color: #625667; font-weight: normal; font-style: normal; font-family: 'Conv_MyriadPro-Bold', Arial, sans-serif; }
.content p { margin-bottom: 7px; }
.content ul { margin-bottom: 20px; color: #6b6468; font-size: 14px; }
.content li:before { content: "—"; margin-right: 5px; }

.breadcrumbs { margin-bottom: 2px; }
.breadcrumbs a, .breadcrumbs span { position: relative; display: inline-block; color: #adaaac; font-size: 14px; margin: 0 5px; }
.breadcrumbs a:before, .breadcrumbs span:before { content: "/"; position: absolute; left: -8px; top: 0; }
.breadcrumbs a { color: #8e8892; }
.breadcrumbs a:hover { color: #b5007d; }
.breadcrumbs .home { margin-left: 0; background: url('../img/icons-s8f89219ce8.png') 0 -1682px no-repeat; width: 14px; height: 12px; }
.breadcrumbs .home:before { display: none; }

.page-head { margin-bottom: 17px; }
.page-head .title-l-1 { display: inline-block; margin-right: 20px; }
.page-head strong { display: block; color: #947a89; font-size: 16px; font-weight: normal; font-style: normal; font-family: 'Conv_MyriadPro-It', Arial, sans-serif; }
.page-head .badge { position: relative; top: -6px; }

.tab { margin-top: 36px; }
.tab li { padding: 2px; width: 158px; font-size: 18px; margin-bottom: 3px; }
.tab a { display: block; padding-left: 19px; width: 139px; height: 40px; line-height: 40px; text-decoration: none; color: #918996; }
.tab a:hover { color: #b5007d; }
.tab a:hover span { border-bottom: 0; }
.tab span { border-bottom: 1px dotted; }
.tab .active { position: relative; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; background: #ca56a4; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NhNTZhNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzkzMjk2NiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ca56a4), color-stop(100%, #932966)); background-image: -webkit-linear-gradient(#ca56a4, #932966); background-image: -moz-linear-gradient(#ca56a4, #932966); background-image: -o-linear-gradient(#ca56a4, #932966); background-image: -ms-linear-gradient(#ca56a4, #932966); background-image: linear-gradient(#ca56a4, #932966); }
.tab .active:after { content: ""; position: absolute; right: -6px; top: 15px; background: url('../img/icons-s8f89219ce8.png') 0 -1742px no-repeat; width: 8px; height: 14px; }
.tab .active a { -webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px; border-radius: 8px; background: #fdfdfd; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2RlZDVkYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdfdfd), color-stop(100%, #ded5db)); background-image: -webkit-linear-gradient(#fdfdfd, #ded5db); background-image: -moz-linear-gradient(#fdfdfd, #ded5db); background-image: -o-linear-gradient(#fdfdfd, #ded5db); background-image: -ms-linear-gradient(#fdfdfd, #ded5db); background-image: linear-gradient(#fdfdfd, #ded5db); }
.tab .active span { border-bottom: 0; color: #483b50; }

.about-coach { float: left; position: relative; margin: 5px 0 42px 48px; padding-left: 40px; width: 70%; font-size: 18px; }
.about-coach:before { content: "“"; position: absolute; left: 0; top: -12px; color: #d683ba; font-size: 63px; }

.ask-coach { margin-bottom: 70px; padding-left: 70px; clear: both; }
.ask-coach .btn { margin-right: 27px; }

.to-cite i { margin-right: 9px; background: url('../img/icons-s8f89219ce8.png') 0 -1282px no-repeat; width: 16px; height: 15px; }

.comments-wrap { padding-bottom: 4px; }
.comments-wrap .btn-gray { display: inline-block; }

.comments-head { margin-bottom: 30px; }
.comments-head .title-l-2 { display: inline-block; margin-right: 24px; }

.comment { margin-bottom: 35px; color: #6b6468; font-size: 14px; }

.comment__img { float: left; margin-right: 19px; }

.comment__wrap { overflow: hidden; }
.comment__wrap i { display: block; margin: 2px 0 5px; color: #6b6468; font-weight: normal; font-style: normal; font-family: 'Conv_MyriadPro-It', Arial, sans-serif; font-size: 13px; }

.comment__author { font-size: 16px; font-weight: normal; font-style: normal; font-family: 'Conv_MyriadPro-Bold', Arial, sans-serif; color: #34272f; text-decoration: none; }
.comment__author:hover { color: #b5007d; }

.comment__date { color: #a19ca4; font-size: 12px; }
.comment__date i { display: inline-block; margin-right: 5px; vertical-align: middle; background: url('../img/icons-s8f89219ce8.png') 0 -1926px no-repeat; width: 11px; height: 11px; }

.popup_add-comment { margin-left: -203px; top: 100px; width: 406px; }
.popup_add-comment div { text-align: center; }
.popup_add-comment .title-l-1, .popup_add-comment img { display: inline-block; vertical-align: middle; }
.popup_add-comment img { margin-right: 16px; }
.popup_add-comment .btn { margin: 22px auto 0; }

.more { text-align: center; font-size: 24px; font-weight: normal; font-style: normal; font-family: 'Conv_MyriadPro-Bold', Arial, sans-serif; color: #a39da7; text-transform: uppercase; }
.more i { position: absolute; left: -30px; top: 6px; background: url('../img/icons-s8f89219ce8.png') 0 -1571px no-repeat; width: 21px; height: 20px; }
.more span { position: relative; border-bottom: 1px dotted; vertical-align: middle; cursor: pointer; }
.more span:hover { color: #6d6273; border-bottom: 0; }
.more span:hover i { background: url('../img/icons-s8f89219ce8.png') 0 -1601px no-repeat; width: 21px; height: 20px; }

.filter_sort { position: relative; z-index: 2; width: 425px; }

.search { display: inline-block; padding: 10px 17px 9px 28px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; -webkit-box-shadow: inset 0 -2px 3px rgba(255, 255, 255, 0.5), inset 0 -4px 7px rgba(102, 13, 67, 0.3); -moz-box-shadow: inset 0 -2px 3px rgba(255, 255, 255, 0.5), inset 0 -4px 7px rgba(102, 13, 67, 0.3); box-shadow: inset 0 -2px 3px rgba(255, 255, 255, 0.5), inset 0 -4px 7px rgba(102, 13, 67, 0.3); background: #cb5ba9; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NiNWJhOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzdjMGU0NyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cb5ba9), color-stop(100%, #7c0e47)); background-image: -webkit-linear-gradient(#cb5ba9, #7c0e47); background-image: -moz-linear-gradient(#cb5ba9, #7c0e47); background-image: -o-linear-gradient(#cb5ba9, #7c0e47); background-image: -ms-linear-gradient(#cb5ba9, #7c0e47); background-image: linear-gradient(#cb5ba9, #7c0e47); }
.search .input { display: inline-block; width: 238px; margin-right: 7px; vertical-align: middle; }

.search__submit { display: inline-block; vertical-align: middle; background: url('../img/icons-s8f89219ce8.png') 0 -1842px no-repeat; width: 16px; height: 17px; }
.search__submit:hover { background: url('../img/icons-s8f89219ce8.png') 0 -1087px no-repeat; width: 16px; height: 17px; }

.search-wrap { position: relative; width: 568px; margin: 0 auto; }
.search-wrap .drop-down { width: 562px; left: 0; top: 30px; -webkit-border-radius: 0 0 10px 10px; -moz-border-radius: 0 0 10px 10px; -ms-border-radius: 0 0 10px 10px; -o-border-radius: 0 0 10px 10px; border-radius: 0 0 10px 10px; }
.search-wrap .drop-down ul { -webkit-border-radius: 0 0 8px 8px; -moz-border-radius: 0 0 8px 8px; -ms-border-radius: 0 0 8px 8px; -o-border-radius: 0 0 8px 8px; border-radius: 0 0 8px 8px; }
.search-wrap .drop-down:before { display: none; }

.search_big { position: relative; z-index: 1001; display: block; padding: 2px 9px 2px 2px; }
.search_big .input { margin-right: 5px; width: 531px; text-transform: capitalize; -webkit-border-radius: 8px 0 0 8px; -moz-border-radius: 8px 0 0 8px; -ms-border-radius: 8px 0 0 8px; -o-border-radius: 8px 0 0 8px; border-radius: 8px 0 0 8px; }

.search_big-active { -webkit-border-radius: 10px 10px 0 0; -moz-border-radius: 10px 10px 0 0; -ms-border-radius: 10px 10px 0 0; -o-border-radius: 10px 10px 0 0; border-radius: 10px 10px 0 0; }
.search_big-active .input { -webkit-border-radius: 8px 0 0 0; -moz-border-radius: 8px 0 0 0; -ms-border-radius: 8px 0 0 0; -o-border-radius: 8px 0 0 0; border-radius: 8px 0 0 0; }

.btn-action { position: relative; color: #be1f8c; font-size: 16px; text-decoration: none; }
.btn-action:hover { text-decoration: none; color: #cb4ca3; }
.btn-action i { display: inline-block; }
.btn-action span { text-decoration: underline; }
.btn-action span:hover { text-decoration: none; }

.downl { float: right; position: relative; text-decoration: underline; }
.downl i { position: absolute; left: -36px; top: -4px; background: url('../img/icons-s8f89219ce8.png') 0 -822px no-repeat; width: 30px; height: 33px; }

.training-list { clear: both; padding: 45px 0 125px; }
.training-list .training-date_big { float: left; }
.training-list .date-more-wrap { float: right; padding-right: 35px; }
.training-list .date-more-wrap .drop-down { top: 31px; }

.training-list_mod { padding-bottom: 0; }

.training { margin-bottom: 46px; }

.training__descr { clear: both; padding: 22px 0 0 70px; }
.training__descr .btn-gray { margin-top: 15px; }

.date-more { position: relative; padding-bottom: 9px; color: #6b6468; font-size: 16px; -moz-user-select: none; -webkit-user-select: none; user-select: none; cursor: pointer; }
.date-more:hover { color: #be1f8c; }
.date-more:hover span { border-bottom: 0; }
.date-more .drop-down { left: 0; }
.date-more span { border-bottom: 1px dotted; }
.date-more strong { font-weight: normal; font-style: normal; font-family: 'Conv_MyriadPro-Bold', Arial, sans-serif; }
.date-more i { position: absolute; left: -26px; top: 4px; background: url('../img/icons-s8f89219ce8.png') 0 -1414px no-repeat; width: 16px; height: 17px; }
.date-more .ui-datepicker-inline { left: -105px; -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5); box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5); }

.training__head { color: #a19ea2; }
.training__head .coach-item { display: inline-block; margin: 0 0 10px 14px; vertical-align: top; font-size: 13px; }
.training__head .coach-item a { font-size: 16px; }
.training__head .take-part { clear: both; }
.training__head .date-list { float: left; }

.training__info-col { float: left; width: 400px; margin-right: 20px; }

.training__name { margin-bottom: 10px; font-size: 24px; font-weight: normal; font-style: normal; font-family: 'Conv_MyriadPro-Bold', Arial, sans-serif; color: #483b50; }
.training__name span { color: #b6047f; font-size: 30px; }

.training__price span { color: #b6047f; font-size: 22px; font-weight: normal; font-style: normal; font-family: 'Conv_MyriadPro-Bold', Arial, sans-serif; }

.training__term span { color: #625667; font-size: 15px; }

.add-to-cal { margin-left: 33px; }
.add-to-cal i { position: relative; margin-right: 2px; vertical-align: middle; background: url('../img/icons-s8f89219ce8.png') 0 -1013px no-repeat; width: 24px; height: 23px; }

.date-list { position: relative; padding: 2px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; background: #ca56a5; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NhNTZhNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzkzMjk2NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ca56a5), color-stop(100%, #932965)); background-image: -webkit-linear-gradient(#ca56a5, #932965); background-image: -moz-linear-gradient(#ca56a5, #932965); background-image: -o-linear-gradient(#ca56a5, #932965); background-image: -ms-linear-gradient(#ca56a5, #932965); background-image: linear-gradient(#ca56a5, #932965); }
.date-list ul { padding: 13px 23px 18px 46px; color: #483b50; background: #fff; -webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px; border-radius: 8px; overflow: hidden; }
.date-list li { position: relative; margin-bottom: 4px; }
.date-list strong { font-weight: normal; font-style: normal; font-family: 'Conv_MyriadPro-Bold', Arial, sans-serif; }
.date-list i { display: none; position: absolute; left: -30px; background: url('../img/icons-s8f89219ce8.png') 0 -1013px no-repeat; width: 24px; height: 23px; }
.date-list .active i { display: inline-block; }

.download { margin-bottom: 23px; padding-left: 37px; }
.download span { font-size: 14px; color: #888; }
.download .btn-action { margin-right: 30px; text-decoration: underline; line-height: 1.8; }
.download .btn-action:hover { text-decoration: none; }
.download .btn-action i { position: absolute; left: -37px; top: -6px; color: #fff; font-style: normal; font-size: 8px; line-height: 23px; text-transform: uppercase; background: url('../img/icons-s8f89219ce8.png') 0 -741px no-repeat; width: 28px; height: 30px; }
.download .btn-action b { display: block; width: 21px; height: 30px; text-align: center; font-weight: normal; }
.download p { margin: 4px 0; color: #6b6468; font-size: 12px; }

.downl-wrap .title-l-2 { margin-bottom: 30px; }
.downl-wrap .title-l-3 { margin-bottom: 17px; }

.training-date-wrap { padding: 27px 0 150px; overflow: hidden; }
.training-date-wrap .training-date { float: left; width: 33%; }
.training-date-wrap .training-date__title { margin-bottom: 8px; }

.gallery { margin-right: -25px; padding-top: 26px; }
.gallery a, .gallery span { position: relative; display: inline-block; margin: 0 18px 18px 0; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; cursor: pointer; overflow: hidden; }
.gallery a:hover img, .gallery span:hover img { opacity: .5; }
.gallery a img, .gallery span img { display: block; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
.gallery .more { margin-top: 20px; }

.training-item-wrap { padding-top: 34px; margin-right: -5%; }
.training-item-wrap .more { margin-bottom: 57px; }

.training-item { display: inline-block; margin: 0 5% 57px 0; width: 43%; vertical-align: top; }

.training-item__img { float: left; margin: 0 20px 14px 0; width: 142px; overflow: hidden; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
.training-item__img img { display: block; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }

.training-date { position: relative; }
.training-date i { display: inline-block; margin-right: 13px; cursor: pointer; background: url('../img/icons-s8f89219ce8.png') 0 -1655px no-repeat; width: 17px; height: 17px; }
.training-date span { font-weight: normal; font-style: normal; font-family: 'Conv_MyriadPro-Bold', Arial, sans-serif; }
.training-date .ui-datepicker-inline { left: 8px; }

.training-item__head .title-l-2 { margin: 0 0 3px; }
.training-item__head .title-l-2 a { color: #34272f; text-decoration: none; }
.training-item__head .title-l-2 a:hover { color: #b5007d; }
.training-item__head .training-date { margin: 14px 0; }

.training-item__desr { clear: both; }

.map-wrap { position: relative; margin-top: 15px; }

.map { position: relative; }
.map iframe { display: block; }

.map-block-wrap { position: absolute; top: 15px; margin-left: 11%; width: 266px; }
.map-block-wrap .title-l-1 { margin-bottom: 19px; }
.map-block-wrap .title-l-1, .map-block-wrap .title-l-2, .map-block-wrap .breadcrumbs, .map-block-wrap .tab-btn { padding-left: 17px; }
.map-block-wrap .filter-wrapper { position: absolute; z-index: 1; left: -163px; top: 112px; }

.map-block { position: relative; z-index: 2; padding-top: 7px; width: 266px; background: #fff; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; z-index: 1000; }

.coach-list-wrap { position: relative; margin-left: -17px; overflow: hidden; }

.coach-list { position: absolute; margin-top: 3px; padding: 0 17px; width: 248px; top: 0; left: 0; }
.coach-list li { position: relative; padding: 15px 0 3px 17px; height: 63px; }
.coach-list li:hover { background: #fde9f1; -webkit-border-radius: 0 10px 10px 0; -moz-border-radius: 0 10px 10px 0; -ms-border-radius: 0 10px 10px 0; -o-border-radius: 0 10px 10px 0; border-radius: 0 10px 10px 0; }
.coach-list li:hover:before { content: ""; position: absolute; top: 0; left: -13px; background: url('../img/icons-s8f89219ce8.png') 0 -564px no-repeat; width: 17px; height: 80px; }
.coach-list .coach-item { display: block; font-size: 16px; font-weight: normal; font-style: normal; font-family: 'Conv_MyriadPro-Bold', Arial, sans-serif; color: #34272f; text-decoration: none; }
.coach-list .coach-item:hover { color: #b5007d; }
.coach-list .coach-item:hover span { color: #6b6468; }
.coach-list .coach-item span { color: #6b6468; font-size: 13px; font-weight: normal; font-style: normal; font-family: 'Conv_MyriadPro-It', Arial, sans-serif; }

.coach-nav { width: 100%; height: 32px; line-height: 32px; background: #fafafa; text-align: center; }
.coach-nav:hover { background: #f5f5f6; }
.coach-nav i { display: inline-block; }

.coach-nav_prev { margin: 9px 0 -3px; }
.coach-nav_prev:hover i { background: url('../img/icons-s8f89219ce8.png') 0 -1869px no-repeat; width: 14px; height: 9px; }
.coach-nav_prev i { background: url('../img/icons-s8f89219ce8.png') 0 -1907px no-repeat; width: 14px; height: 9px; }

.coach-nav_next { -webkit-border-radius: 0 0 10px 10px; -moz-border-radius: 0 0 10px 10px; -ms-border-radius: 0 0 10px 10px; -o-border-radius: 0 0 10px 10px; border-radius: 0 0 10px 10px; }
.coach-nav_next:hover i { background: url('../img/icons-s8f89219ce8.png') 0 -1888px no-repeat; width: 14px; height: 9px; }
.coach-nav_next i { background: url('../img/icons-s8f89219ce8.png') 0 -1983px no-repeat; width: 14px; height: 9px; }

.experts { width: 78%; margin: 44px auto 22px; overflow: hidden; }
.experts .title-l-2 { font-size: 24px; }
.experts .coach-item { float: left; margin-bottom: 19px; width: 33%; }
.experts .coach-item a { font-size: 16px; }
.experts .coach-item span { font-size: 13px; }

.extend-search { padding: 5px 17px 1px; }
.extend-search .field { margin: 0 0 20px; }
.extend-search .checkbox { margin: 0; padding-left: 30px; }
.extend-search .checkbox span { color: #483b50; }

.gallery-link_small { background: url('../img/icons-s8f89219ce8.png') 0 -214px no-repeat; width: 77px; height: 78px; }
.gallery-link_small div { margin: -24px 0 0 -26px; width: 50px; height: 50px; }
.gallery-link_small i { left: 4px; top: 6px; background: url('../img/icons-s8f89219ce8.png') 0 -699px no-repeat; width: 32px; height: 32px; }
.gallery-link_small span { left: 5px; top: 10px; width: 18px; }

.popup_album { width: 78%; margin-left: -39%; }

.popup_photo { z-index: 4000; top: 75px; left: 0; width: 100%; }
.popup_photo .l-container { text-align: center; }
.popup_photo .title-l-2 { font-size: 24px; }
.popup_photo .soc-big { display: inline-block; }

.overlay-album, .overlay-photo { display: none; position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 2000; background: rgba(255, 255, 255, 0.96); }

.overlay-photo { z-index: 3000; }

.gallery span:hover .soc-big { display: block; }
.gallery .soc-big { display: none; position: absolute; right: 68px; top: 32px; }
.gallery .soc-big a { display: block; width: 29px; height: 31px; }

.popup_request { width: 770px; margin-left: -380px; overflow: hidden; }
.popup_request .title-l-1 { margin-bottom: 33px; text-align: center; }
.popup_request .title-l-2 { padding-top: 42px; margin-top: 0; }
.popup_request .popup__title { margin-bottom: 0; }
.popup_request .field { margin-top: 24px; }
.popup_request .meta { padding-bottom: 21px; font-size: 22px; font-weight: normal; font-style: normal; font-family: 'Conv_MyriadPro-Bold', Arial, sans-serif; }
.popup_request .meta .item { position: relative; padding-bottom: 14px; line-height: 1; }
.popup_request .meta b { width: 75px; }
.popup_request .meta strong { color: #b6047f; margin-right: 20px; }
.popup_request .meta .meta__choose { position: relative; top: -2px; color: #b6b1b9; font-weight: normal; font-style: normal; font-family: 'Conv_MyriadPro-Regular', Arial, sans-serif; font-size: 15px; cursor: pointer; border-bottom: 1px dotted; }
.popup_request .meta .meta__choose:hover { color: #b5007d; border-bottom: 1px dotted transparent; }
.popup_request .meta strong, .popup_request .meta .meta__choose, .popup_request .meta b { display: inline-block; vertical-align: bottom; }
.popup_request .meta .ui-datepicker-inline { left: 30px; }
.popup_request .meta .drop-down { top: 23px; }
.popup_request .coach-item { display: inline-block; margin-bottom: 7px; margin-left: 14px; vertical-align: top; font-size: 13px; }
.popup_request .coach-item a { font-size: 16px; }
.popup_request .info { padding: 41px 0 0 140px; }
.popup_request .next-training { margin: 23px -18px 23px 0; }
.popup_request .radio-wrapper { margin: 0 -100px 0 93px; }
.popup_request .radio-wrapper .btn { margin-left: 39px; }
.popup_request .radio-wrapper .radio_qiwi { margin-bottom: 0; }
.popup_request .radio-wrapper .radio_ym { margin-bottom: 7px; }

.popup__left-col { float: left; width: 360px; }

.popup__right-col { float: right; width: 400px; }

.other-training-link { position: relative; display: inline-block; margin-bottom: 15px; color: #6b6468; font-size: 16px; }
.other-training-link i { position: absolute; left: -28px; top: 0; background: url('../img/icons-s8f89219ce8.png') 0 -1221px no-repeat; width: 20px; height: 18px; }
.other-training-link strong { font-weight: normal; font-style: normal; font-family: 'Conv_MyriadPro-Bold', Arial, sans-serif; }
