@import "base";
/* ------------------------------------- Reset css -------------------------------------------- */
/* ------------------------------------- Reset css -------------------------------------------- */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5,
h6, p, blockquote, pre,a, abbr, acronym, address, big,
cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small,
strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt,
dd, ol, ul, li,fieldset, form, label, legend,table, caption,
tbody, tfoot, thead, tr, th, td,article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary,time, mark, audio, video { 
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
body, html {
    height: 100%
}
img,fieldset {border:none;}
input[type="submit"], button {cursor:pointer;}
input[type='submit']::-moz-focus-inner{padding:0;border:0}
textarea {overflow: auto;}
input, button {
    margin: 0;
    padding: 0;
    border: 0;
}
input, textarea, select,
h1,h2,h3,h4,h5,h6,a,span,a:focus, button {
    outline: none;
}
ul,ol {
    list-style-type: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, 
hgroup, menu, nav, section { 
    display: block;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
*{-webkit-text-size-adjust: none; }
/* ------------------------------------- //END Reset css --------------------------------------- */
/* ----------------------------------------- Main styles --------------------------------------- */
body{
    min-width: 1258px;
    color: #483b50;
    @include mr;
    font-size: 15px;
    line-height: 1.3;
    background: url(../img/body-bg.png) 50% 0 repeat;
}
.index {
    .l-layout,
    .footer__wrap {
        width: 976px; 
    }
    .l-layout {
        margin-bottom: -716px;
        .push {
            height: 716px;
        }
    }
}
a{
    color:#00919e;
    &:hover{
        text-decoration:none
    }
}
.l-layout {
    width: 78%;
    margin: 0 auto -120px;
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
.l-container {
    position: relative;
    width: 78%;
    margin: 0 auto;
}
.push {
    clear: both;
    height: 120px;
}
.wrapper {
    overflow: hidden;
}
.wrap {
    @extend %clr;
}
.i-hate-ie {
    clear: both;
}

/* ------------------------------------ //END Main styles --------------------------------------- */
 
/* ----------------------------------------- Header --------------------------------------------- */
.header {
    padding-top: 18px;
    @extend %clr;
    .choose {
        .drop-down {
            right: -47px;
            top: 26px;
            left: auto;
            width: 150px;
            &:before {
                left: auto;
                right: 41px;
                margin: 0;
            }
        }
    }
    
}

.logo {
    float: left;
    margin: 5px 61px 0 0;
    a {
        display: block;
        width: 297px;
        height: 90px;
        background: url(../img/logo.png) 0 0 no-repeat;
    }
}

.nav {
    float: left;
    padding: 2px;
    height: 38px;
    background: #ca56a4;
    @include background-image(linear-gradient(#ca56a4, #932966));
    @include box-shadow(0 2px 2px rgba(78,7,50,.15)); 
    @include border-radius(10px);
    ul {
        overflow: hidden;
    }
    li {
        float: left;
        &:first-child {
            a {
                @include border-radius(8px 0 0 8px);  
                &:before {
                    display: none;
                }
            }
        }
        &:last-child {
            a {
                @include border-radius(0 8px 8px 0);  
            }
        }
    }
    a {
        position: relative;
        display: block;
        padding: 0 22px 0 15px;
        height: 38px;
        line-height: 38px;
        color: #34272f;
        font-size: 14px;
        text-decoration: none;
        background: #fefdfd;
        @include background-image(linear-gradient(#fefdfd, #e2dbdf));
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 38px;
            width: 1px;
            background: #f4f2f2;
            @include background-image(linear-gradient(#f4f2f2, #cfc9cd));
        }
        &:hover {
            color: #bc1688;
            @include box-shadow(inset 0 3px 3px rgba(102,13,67,.66)); 
            background: #fefdfd;
            @include background-image(linear-gradient(#fefdfd, #e5ccdd));
            &:before {
                //display: none;
            }
        }
    }
    .active {
        height: 40px;
        color: #fff;
        text-shadow: 0 1px 0 rgba(138,75,128, .22);
        @include box-shadow(inset 0 -3px 4px rgba(255,255,255, .2)); 
        background: #ca56a4;
        @include background-image(linear-gradient(#ca56a4, #932966));
        &:hover {
            color: #fff;
            text-shadow: 0 1px 0 rgba(138,75,128, .22);
            @include box-shadow(inset 0 -3px 4px rgba(255,255,255, .2)); 
            background: #ca56a4;
            @include background-image(linear-gradient(#ca56a4, #932966)); 
        }
    }
}

.enter {
    float: right;
    width: 230px;
    .btn {
        padding: 0 23px;
        height: 43px;
        line-height: 43px;
        font-size: 14px;
    }   
}

.enter__user {
    float: right;
    padding-top: 11px;
    color: #a19ea2;
    font-size: 12px;
    text-align: left;
    span { 
        display: block;
        margin-bottom: 7px;
        font-size: 13px;
        color: #625667;
        i {
            display: inline-block;
            margin-right: 9px;
            @include sized-sprite($icons,user);
        }
    }
    strong {
        font-size: 15px;
        @include mb;
    }
    .enter__id {
        padding-left: 23px;
        color: #a19ea2;
    }
}


/* -------------------------------------- //END Header ------------------------------------------ */
 
/* ------------------------------------- Independent blocks -------------------------------------- */
.btn {
    display: inline-block;
    padding: 0 16px;
    height: 36px;
    line-height: 36px;
    @include mr;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(138,75,128, .22);
    @include border-radius(10px);
    @include box-shadow(inset 0 -2px 3px rgba(255,255,255, .5), inset 0 -4px 7px rgba(102,13,67, .3));
    background: #c966a9;
    @include background-image(linear-gradient(#c966a9, #9c0567));
    &:hover {
        @include box-shadow(inset 0 2px 3px rgba(102,13,67, .75), 
                            inset 0 -2px 3px rgba(255,255,255, .5),
                            inset 0 -4px 7px rgba(102,13,67, .3));
        background: #d485bb; 
        @include background-image(linear-gradient(#d485bb, #9c0567));
    }
}

.btn-gray {
    display: inline-block;
    padding: 0 16px;
    height: 34px;
    line-height: 34px;
    font-size: 16px;
    color: #be1f8c;
    text-decoration: none;
    border: 2px solid #ac4187;
    @include border-radius(10px);
    background: #fcfcfd;
    @include background-image(linear-gradient(#fcfcfd, #dfd7dc));
    @include box-shadow(0 1px 3px rgba(0,0,0, .2));
    &:hover {
        background: #d5adc8;
        @include background-image(linear-gradient(#fff, #d5adc8));
        @include box-shadow(0 1px 3px rgba(0,0,0, .2), inset 0 1px 3px rgba(102,13,67,.66));
    }
}
button.btn-gray {
    line-height: 31px;
}
.drop-down {
    display: none;
    position: absolute; 
    padding: 2px;
    z-index: 1000;  
    color: #787275;
    text-align: left;
    @include border-radius(10px);
    @include box-shadow(0 3px 9px rgba(71,58,80, .4));
    background: #ca56a4;
    @include background-image(linear-gradient(#ca56a4, #932966));
    &:before {
        content: "";
        position: absolute;
        top: -8px;
        left: 50%;
        margin-left: -9px;
        @include sized-sprite($icons,arr-drop);
    }
    ul {
        padding: 15px 25px 8px 18px;
        background: #fff;
        @include border-radius(7px);
        overflow: hidden;
        border-bottom: 1px solid #d4a9c1;
    }
    li {
        margin-bottom: 11px;
        font-size: 15px;
        cursor: pointer;
        &:hover {
            color: #362c3c;
        }
    }
}

.next-training {
    font-size: 16px;
    li {
        margin-bottom: 8px;
        color: #625667;
        &:before {
            content: "→";
            margin-right: 8px;
            color: #a70670;
            font: bold 12px 'Calibri', Arial, sans-serif;
        }
    }
    strong {
        @include mb;
    }
    a {
        color: #625667;
        text-decoration: none;
        &:hover {
            color: #b5007d;
        }
    }
}
.next-training__title {
    margin-bottom: 14px;
    font-size: 18px;
    font-weight: normal;
}

.coach-scroll {
    position: relative;
    padding: 0 15px 0 32px;
    width: 185px;
    .prev, .next {
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -25px;
        height: 40px;
        width: 15px;
        line-height: 40px;
        background: none;
        text-align: right;
        i {
            display: inline-block;
        }
    }
    .prev {
        left: 0;
        &:hover {
            i {
                @include sized-sprite($icons, prev-h);
            }
        }
        i {
            @include sized-sprite($icons, prev);
        }  
    }
    .next {
        &:hover {
            i {
               @include sized-sprite($icons, next-h); 
            }
        }
        i {
            @include sized-sprite($icons, next);
        }
    }
    .scroll {
        min-width: 185px;
    }
}
.coach-item {
    @include mi;
    font-size: 12px;
    height: 44px;
    min-width: 185px;
    a {
        @include mb;
        color: #34272f;
        font-size: 14px;
        text-decoration: none;
        &:hover {
            color: #bc1688;
        }
    }
    span {
        display: block;
    }
    img {
        float: left;
        margin-right: 15px;
    }
}

.training-date {
    overflow: hidden;
    .title {
        margin-bottom: 17px;
        font-size: 18px;
        font-weight: normal;
    }
}

.training-date_big {
    .training-date__title {
        margin-bottom: 6px;
        font-size: 20px;
    }
    .badge {
        margin-bottom: 10px;
    }
}

.calendar {
    float: left;
    margin-right: 14px;
    text-align: center;
    @include sized-sprite($icons, calendar);
    span {
        display: block;
        margin-bottom: 2px;
        color: #fff;
        font-size: 12px;
    }
    strong {
        color: #b6047f;
        font-size: 30px;
        @include mb;
    } 
}

.calendar_big {
    @include sized-sprite($icons, calendar_big);
    span {
        margin-bottom: 6px;
    }
}

.badge {
    display: inline-block;
    padding: 3px 12px 2px;
    color: #947a89;
    font-size: 12px;
    background: #e6e0e4;
    text-decoration: none;
    @include border-radius(10px);
    &:hover {
        color: #876e7c;
        background: #f2eff1;
    }
}

.training-date__descr {
    overflow: hidden;
    ul {
        color: #625667;
        font-size: 15px;
    }
    span {
        color: #a19ea2;
    }
    a {
        color: #625667;
        text-decoration: none;
        &:hover {
            color: #b00777;
        }
    }
}
.training-date__title {
    margin-bottom: 17px;
    font-size: 18px;
    @include mb;
    a {
        color: #34272f;
    }
}

.gallery-link {
    position: relative;
    text-align: center; 
    display: inline-block;
    font-size: 14px;
    color: #483b50;
    text-decoration: none;
    @include sized-sprite($icons, img-wrap);
    div {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        margin: -40px 0 0 -40px;
        width: 80px;
        height: 80px;
        overflow: hidden;
    }
    i {
        position: absolute;
        z-index: 2;
        left: 7px;
        top: 10px;
        @include sized-sprite($icons, img-corner);
    }
    span {
        position: absolute;
        z-index: 3;
        left: 9px;
        top: 19px;
        width: 20px;
        text-align: center;
        font-size: 11px;
        color: #fff;
    }
    strong {
        font-weight: normal;
        &:hover {
            color: #b5007d;
        }
    }
}


.soc {
    overflow: hidden;
    a {
        float: left;
        margin-right: 12px;
    } 
}
.soc__odn {
    @include sized-sprite($icons, odn);
    &:hover {
        @include sized-sprite($icons, odn-h);
    }
}
.soc__vk {
    @include sized-sprite($icons, vk);
    &:hover {
        @include sized-sprite($icons, vk-h);
    }
}
.soc__fb {
    @include sized-sprite($icons, fb);
    &:hover {
        @include sized-sprite($icons, fb-h);
    }
}

.soc-big {
    float: right;
    width: 29px;
    a, 
    span {
        display: block;
        margin-bottom: 10px;
    }
    
}
.soc-big__vk {
    @include sized-sprite($icons, vk2);
    &:hover {
        @include sized-sprite($icons, vk2-h);
    }
} 
.soc-big__odn {
    @include sized-sprite($icons, odn2);
    &:hover { 
        @include sized-sprite($icons, odn2-h);
    }
}
.soc-big__fb {
    @include sized-sprite($icons, fb2);
    &:hover {
        background: none;
        @include sized-sprite($icons, fb2-h);
        .fb-counter {
            display: block;
            cursor: pointer;
            margin-left: -51px; 
        }
    }
    .fb-counter {
        display: none;
    }
}

.overlay { 
    display: none;
    position: fixed;
    left: 0; 
    top: 0;
    right: 0;
    bottom: 0; 
    z-index: 2000;
    background: rgba(255,255,255,.96);
}
.popup {
    display: none;
    position: absolute;
    z-index: 3000;
    left: 50%;
    top: 75px;
    color: #483b50;
    p {
        font-size: 16px;
    }
}

.popup__title {
    display: block;
    margin-top: 19px;
    font-size: 24px;
    @include mb;
    text-align: center; 
    margin-bottom: 24px;
}
.close { 
    display: block;
    background: none;
    color: #483b50;
    font-size: 18px;
    width: 85px;
    margin: 0 auto;
    @include mr;
    &:hover { 
        color: #918996;
        i {
            @include sized-sprite($icons, close-h);
        }
    }
    i {
        display: inline-block;
        margin-right: 7px;
        vertical-align: middle;
        @include sized-sprite($icons, close);
    }
}

// form's elements
.select { 
    position: relative;
    padding: 2px;
    width: 200px;
    @include border-radius(10px);
    background: #ca57a5;
    @include background-image(linear-gradient(#ca57a5, #932965));
    .drop-down {
        top: 33px;
        left: -2px; 
        width: 100%;
        padding-top: 0;
        line-height: 1;
        &:before {
            display: none;
        }
    }
    .active {
        @include border-radius(7px 7px 0 0);
        i { 
            @include sized-sprite($icons, select-act);
        }
    }
}
.select__wrap {
    display: block; 
    position: relative;
    z-index: 1001;
    height: 31px;
    line-height: 31px;
    width: 100%;
    cursor: pointer;
    @include mr;
    @include border-radius(8px);
    text-align: left;
    background: #fcfdfc;
    @include background-image(linear-gradient(#fcfdfc, #d9cfd6));
    span {
        padding-left: 18px;
        font-size: 14px;
        color: #34272f;
    }
    i {
        position: absolute;
        right: -2px;
        top: -2px; 
        @include sized-sprite($icons, select);
    }
}
.select_active {
    @include border-radius(10px 10px 0 0);
    .drop-down {
        @include border-radius(0 0 10px 10px);
        ul {
            @include border-radius(0 0 8px 8px);
        }
    }
}

.field {
    position: relative;
    margin-top: 36px;
    label {
        display: block;
        margin-bottom: 6px;
        font-size: 16px;
    }
}
.field_submit {
    text-align: center;
}
.input {
    padding: 0 5px 0 13px;
    width: 100%;
    height: 28px;
    color: #483b50;
    @include mr;
    font-size: 12px;
    border: 1px solid #e0dbdf;
    @include box-sizing(border-box);
    @include border-radius(10px);
    @include placeholder(#483b50, 'Conv_MyriadPro-It');
    @include box-shadow(inset 0 0 2px rgba(0,0,0,.1), inset 1px 1px 3px rgba(0,0,0,.3));
    background: #f7f0f4;
    @include background-image(linear-gradient(#f7f0f4, #f7f2f5));
    &:focus {
        border: 1px solid #fafc93;
        border-bottom: 1px solid #feeb58;
        @include box-shadow(inset 1px 1px 5px rgba(0,0,0,.4), 0 1px 0 #f1cad5);
    }
}
.input_drop-down {
    position: relative;
    z-index: 2;
    &:focus {
        @include border-radius(10px 10px 0 0);
        @include box-shadow(0 -3px 6px rgba(0,0,0,.2));
    }
}
.textarea {
    padding: 10px 13px;
    min-height: 133px;
}

.input-drop-down {
    display: none;
    position: absolute;
    top: 54px;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 0 17px;
    color: #787275;
    font-size: 12px;
    background: #fff;
    border: 1px solid #c4bec1;
    border-top: none;
    border-bottom: 1px solid #dcd8da;
    @include box-sizing(border-box);
    @include border-radius(0 0 10px 10px);
    @include box-shadow(0 0 9px rgba(0,0,0,.3));
    li {
        margin-bottom: 6px;
        padding: 0 5px 0 12px;
        cursor: pointer;
        &:hover {
            color: #362c3c;
        }
    }
}

.filter-wrapper {
    float: left;
    position: relative;
    width: 429px;
    .search {
        position: absolute;
        right: -43px;
        top: 50%;
        margin-top: -24px;
    }
}
.filter {
    padding: 2px;
    @include border-radius(10px);
    background: #ca56a5;
    @include background-image(linear-gradient(#ca56a5, #932965));
}
.filter__wrap {
    padding: 0 20px;
    background: #fff;
    height: 51px;
    line-height: 51px;
    @include border-radius(8px);
    .choose {
        display: inline-block;
        padding: 0;
        span {
            font-size: 16px;
        }
    }
}

.switch {
   color: #483b50;
   font-size: 16px;
   line-height: 1;
   display: inline-block;
   @include mb;
   @include transition(all, 1s,ease-in-out);
   div {
       cursor: pointer;
       display: inline-block;
   }
   .key {
       color: #b6b1b9;
       cursor: pointer;
       border-bottom: 1px dotted;
       @include user-select(none);
   }
   .active {
       color: #483b50;
       border: 0;
   }
   .switch-active {
        i   {
            right: 0;
            left: auto;
        }
   }
}
.switch__name {
    display: inline-block;
    margin-right: 5px;
}
.switch__wrap {
    position: relative;
    display: inline-block;
    margin: -5px 12px 0;
    width: 35px;
    height: 15px;
    border: 1px solid #bdaab6;
    vertical-align: middle;
    @include border-radius(10px);
    background: #dcd0d9;
    @include background-image(linear-gradient(#d9ccd6, #dcd0d9));
    @include box-shadow(inset 0 0 5px rgba(0,0,0,.2));
    i {
        position: absolute;
        left: 0;
        top: -1px;
        width: 15px;
        height: 15px;
        @include border-radius(50%);
        border: 1px solid #90175b;
        background: #ca4a9c;
        @include background-image(linear-gradient(#ca4a9c, #93145b));
        @include box-shadow(0 1px 4px rgba(0,0,0,.4), inset 0 0 1px rgba(255,255,255,.1));
    }
}
.switch_big {
    padding-top: 135px;
    font-size: 18px;
    @include mr;
    .switch__name {
        font-size: 24px;
        @include mb;
        margin-right: 31px;
    }
}
.switch_mod {
    font-size: 18px;
}
.filter-tab {
    overflow: hidden;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    li {
        float: left;
        margin-right: 30px;
        color: #bbb6be;
        font-size: 16px;
        border-bottom: 1px dotted;
        cursor: pointer;
        @include mb;
        @include user-select(none);
        &:hover {
            color: #6d6273;
        }
    }
    .active {
        border: 0;
        color: #483b50;
    }
}

.choose {
    text-align: right;
    padding: 6px 60px 0 0;
    .active {
        span {
            border-bottom: 0;
        }
    }
    span {
        border-bottom: 1px dotted;
    }
    .drop-down {
        left: 0;
        top: 28px;
        &:before {
            left: 50%;
            margin-left: -8px;
        }
    }
}
.choose__wrap {
    position: relative;
    display: inline-block;
    padding: 0 13px 3px 19px;
    background: none;
    color: #b6047f;
    cursor: pointer;
    line-height: 1;
    @include mr;
    &:before,
    &:after {
        content: "";
        position: absolute;
    }
    &:before {
        left: 0;
        top: 2px;
        @include sized-sprite($icons, pin);
    }
    &:after {
        right: 0;
        top: 8px;
        @include sized-sprite($icons,arr1);
    }
}
.choose_coach {
    margin: 0 54px 0 33px;
    .choose__wrap {
        &:before {
            left: 0;
            top: 2px;
            @include sized-sprite($icons, man_s);
        }
    }
    
}

.checkbox {
    position: relative;
    cursor: pointer;
    padding-left: 26px;
    margin-left: 20px;
    @include user-select(none);
    input, i {
        position: absolute;
        left: 0;
        top: 0;
        width: 19px;
        height: 19px;
        @include border-radius(3px);
    }
    input {
        z-index: 2;
        opacity: 0;
        cursor: pointer;
        &:checked + i {
            @include box-shadow(inset 1px 1px 5px rgba(0,0,0,.4));
            &:before {
                opacity: .6;
            }
        }
        &:checked + i + span {
            color: #483b50;
            border-bottom: 0;
        }
    }
    i {
        background: #c73998;
        border: 1px solid #820449;
        @include background-image(linear-gradient(#c73998, #921157));
        @include box-shadow(0 1px 4px rgba(0,0,0,.4), inset 1px 1px 0 rgba(255,255,255,.2));
        &:before {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -6px;
            margin-top: -6px;
            @include sized-sprite($icons, check);
        }
    }
    span {
        color: #a39da7;
        border-bottom: 1px dotted;
    }
}

.radio {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    padding-left: 30px;
    @include user-select(none);
    cursor: pointer;
    font-size: 16px;
    i, input {
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -9px;
        width: 18px;
        height: 18px;
        @include box-sizing(border-box);
    }
    i {
        background: #c73998;
        border: 1px solid #820449;
        @include border-radius(50%);
        @include background-image(linear-gradient(#c73998, #921157));
        @include box-shadow(0 1px 4px rgba(0,0,0,.4), inset 1px 1px 0 rgba(255,255,255,.2));
        &:before {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -3px;
            margin-top: -3px;
            width: 6px;
            height: 6px;
            background: #fff;
            @include border-radius(50%);
            @include box-shadow(0 -1px 0 rgba(0,0,0,.4));
        }
    }
    input {
        opacity: 0;
        &:checked + i {
            border: 0;
            @include background-image(linear-gradient(#92185c, #9e1965));
            @include box-shadow(inset 1px 1px 5px rgba(0,0,0,.4));
            &:before {
                opacity: .6;
            }
        }
    }
    span, img {
        display: inline-block;
        vertical-align: middle;
    } 
    img {
        margin-right: 5px;
    }
}

.tab-btn {
    padding-bottom: 10px;
    overflow: hidden;
    li {
        float: left;
        margin-right: 10px;
        padding: 0 12px;
        height: 31px;
        line-height: 31px;
        font-size: 14px;
        cursor: pointer;
        color: #483b50;
        border: 2px solid transparent;
        span {
            border-bottom: 1px dotted;
        }
        &:hover {
            span {
                color: #b5007d;
                border-bottom: 0;
            }
        }
    }
    .active {
        position: relative;
        border: 2px solid #9a2f6d;
        @include border-radius(10px);
        background: #dccdd4;
        @include background-image(linear-gradient(#f9f9f9, #dccdd4));
        @include box-shadow(0 1px 3px rgba(0,0,0, .2));
        span {
            color: #483b50; 
            border-bottom: 0;
        }
        &:hover {
            span {
                color: #483b50; 
            }
        }
        &:after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -9px;
            margin-left: -7px;
            @include sized-sprite($icons, arr5);
        }
    }   
}
 
.marker {
    position: relative;
    padding: 2px;
    width: 75px;
    text-align: center;
    @include border-radius(10px);
    background: #ca56a5;
    @include box-shadow(0 1px 3px rgba(0,0,0, .2));
    @include background-image(linear-gradient(#ca56a5, #932965));
    &:before {
        content: "";
        position: absolute;
        left: 50%;
        margin-left: -7px;
        bottom: -7px;
        @include sized-sprite($icons, arr5);
    }
}
.marker__wrap {
    padding: 11px 3px 6px; 
    @include border-radius(8px);
    @include background-image(linear-gradient(#fff, #dccdd4));
    line-height: .8;
    img {
        margin-bottom: 5px;
    }
    a {
        font-size: 12px;
        color: #34272f;
        text-decoration: none;
        &:hover { 
            color: #b00777;
        }
    }
}

.to-top {
    display: none;
    position: fixed;
    left: 45px;
    top: 50%;
    margin-top: -36px;
    width: 86px;
    height: 73px;
    text-align: center;
    cursor: pointer;
    @include mb;
    color: #fff;
    font-size: 14px;
    background: rgba(226,217,221, .5);
    text-transform: uppercase;
    @include border-radius(10px);
    &:hover {
        background: #e2d9dd;
    }
    i {
        display: inline-block;
        margin-top: 13px;
        @include sized-sprite($icons, to-top);
    }
    span {
        display: block;
    }
}

/* ---------------------------------- //END Independent blocks ----------------------------------- */

/* ----------------------------------------- Footer ---------------------------------------------- */
.footer {
    position: relative;
    height: 120px;
    background: rgba(237,201,218, .7);
    @include box-shadow(inset 1px 7px 20px rgba(0,0,0,.1));
}
.footer__wrap {
    width: 90%;
    margin: 0 auto;
    padding-top: 33px;
    overflow: hidden;
}
.footer__nav {
    float: left;
    padding-top: 6px;
    overflow: hidden;
    li {
        float: left;
        margin-right: 34px;
    }
    a {
        font-size: 14px;
        color: #483b50;
    } 
    .active {
        color: #b5007d;
        text-decoration: none;
    }
}
.footer__info  {
    float: right;
    .soc {
        margin-right: 14px;
    }
    .soc, .copy {
        display: inline-block;
        vertical-align: middle;
    }
}
/* -------------------------------------- //END Footer ------------------------------------------- */
