@import "base";
// ie6-8
.lteie8 {
    .checkbox,
    .radio {
        i {
            display: none;
        }
        input {
            position: static;
            vertical-align: middle;
        }
    }
    .coach-list {
        background: none !important;
    }
    .overlay,
    .overlay-album,
    .overlay-photo {
        background: #fff;
    }
    .header {
        position: relative;
        z-index: 1000;
    }
    .nav {
        a  {
             background: #e2dbdf;
         }
        .active {
            background: #ca56a4;
        } 
    }
    .footer {
        background: #edc9da;
    } 
    .map-block-wrap {
        .filter-wrapper {
            .input {
                width: 217px;
            }
        }
    }
    .to-top {
        background: #e2d9dd;
    }
    .input {
        line-height: 28px;
        font-style: italic;
    }
    .focus {
        font-style: normal;
    }
    .coach-item {
        background: none !important;
    }
    .letters a {
        margin-right: 16px;
    }
    .slide {
        background: none !important;
    }
    .map-block-wrap {
        left: 0;
    }
}

// ie7
*+ html {
    .btn-gray {
        line-height: 27px;
    }
    .filter {
        position: relative;
        z-index: 1000;
    }
    .filter__wrap {
        .filter-tab, 
        .choose {
            vertical-align: middle;
            line-height: 51px;
        }
    }
    .switch {
        vertical-align: middle;
        line-height: 51px;
    }
    .search-wrap {
        width: 588px;
    }
    .header .choose {
        display: block;
    }
    .enter {
        button {
            width: 186px;
        }
    }
    .extend-search {
        .input {
            width: 214px;
        }
        .field {
            z-index: 600;
            &:first-child {
                position: relative;
                z-index: 1000;
            }
        }
        .field_checkbox {
            z-index: 500;
        }
        .checkbox {
            padding-left: 0;
        }
    }
    .checkbox {
        padding-left: 0;
    }
    .popup_photo .soc-big {
        display: inline;
        vertical-align: top;
        float: none;
    }
} 

// ie6
* html {

}

// ie6-7
*+ html, * html {
    .enter__user i,
    .btn,
    .btn-gray,
    .prev i, .next i,
    .badge,
    .gallery-link__wrap,
    .gallery-link__wrap strong,
    .close i,
    .switch__name,
    .soc, .copy,
    .slider-nav button,
    .img-scroll__nav button,
    .breadcrumbs a,
    .breadcrumbs span,
    .page-head .title-l-1,
    .comments-wrap .btn-gray,
    .training__head .coach-item,
    .choose, 
    .filter-tab,
    .choose__wrap,
    .comments-head .title-l-2, 
    .filter__wrap .choose,
    .training-item,
    .switch,
    .switch div,
    .search,
    .city-list ul,
    .search .input,
    .search__submit,
    {
        display: inline;
    }
}