@import "base";
.slider {
    position: relative;
    margin: 0 auto;
    //height: 595px;
    width: 976px;
}
.slide {
    position: relative;
    //height: 595px;
    width: 100%;
    height: 100% !important;
    //overflow: hidden;
}
.slide__img {
    position: absolute;
    bottom: 0;
}
.slide-1 {
    //background: url(../img/slide1.png) 40px 100% no-repeat;
    .slide__img {
        left: 40px;
    }
}
.slide__text {
    float: left;
    padding-top: 108px;
    width: 280px;
    position: relative;
    z-index: 10;
    p {
        margin-bottom: 13px;
    }
}
.slide__title {
    margin-bottom: 11px;
    color: #34272f;
    @include mb;
    font-size: 36px;
}
.slide__info {
    float: right;
    padding: 50px 8px 0 0;
    position: relative;
    z-index: 10;
    .next-training  {
        padding-left: 125px;
    }
    .coach-scroll {
        margin: 66px 0 0 142px;
    }
}
.slide__big-title {
    margin-bottom: 36px;
    padding-left: 41px;

    h2 {
        position: relative;
        margin-bottom: 17px;
        color: #ae0776;
        font-size: 43px;
        line-height: 1;
        font-weight: normal;
        &:before {
            content: "“";
            position: absolute;
            left: -41px;
            top: -11px;
            font-size: 63px;
            color: #d380b8;
        }
    }
    span {
        display: block;
        margin-bottom: -3px;
    }

    b {
        @include mb;
        text-transform: uppercase;
        font-size: 48px;
    }
    .coach {
        padding-left: 5px;
        @include mi;
        color: #6b6468;
        font-size: 16px;
        a {
            color: #34272f;
            font-size: 19px;
            @include mb;
            text-decoration: none;
            &:hover {
                color: #b5007d;
            }
        }
        span {
            display: block;
        }
    }
}

.slide-2 {
    position: relative;
    .training-date {
        margin: 0 0 48px 125px;
        padding-bottom: 4px;
    }
    .btn-gray {
        margin: 19px 0 0 15px;
    }
    .slide__img {
        left: -48px;
    }
}
.slide-3 {
    .slide__info {
        padding-top: 74px;
    }
    .gallery-link {
        margin-bottom: 35px;
    }
    .slide__info-title {
        margin-bottom: 24px;
        color: #483b50;
        font-size: 18px;
        @include mb;
    }
    .slide__text {
        padding-top: 57px;
    }
}
.slider-nav {
    position: absolute;
    bottom: 39px;
    left: 0;
    z-index: 1000;
    padding-left: 18px;
    width: 100%;
    text-align: center;
    button {
        position: relative;
        display: inline-block;
        margin-right: 35px;
        width: 104px;
        height: 78px;
        line-height: 110px;
        background: none;
        text-align: center;
        @include border-radius(10px);
        &:hover {
            span, i {
                opacity: 1;
            }
        }
    }
    span {
        color: #b5007d;
        @include mb;
        font-size: 18px;
        opacity: .6;
        &:hover {
            opacity: 1;
        }
    }
    i {
        position: absolute;
        left: 50%;
        top: 21px;
        margin-left: -11px; 
        opacity: 0.6;
        &:hover {
            opacity: 1;
        }
    } 
    .activeSlide {
        @include box-shadow(0 5px 3px -3px rgba(0,0,0,.2));
        @include sized-sprite($icons, slide-nav);
        span {
            color: #b5007d;
            opacity: 1;
        }
        i {
            opacity: 1;
        }
    }
    .nav-0 { 
        i {
            @include sized-sprite($icons,man);
        }
    }
    .nav-1 {
        i {
            @include sized-sprite($icons,case);
        }
    }
    .nav-2 {
        i {
            @include sized-sprite($icons,star);
        }
    }
} 

.img-scroll {
    float: left;
    width: 450px;
}
.img-scroll__title {
    margin-bottom: 10px;
    font-size: 22px;
    @include mb;
    text-align: center;
    a {
        color: #34272f;
        text-decoration: none;
        &:hover {
            color: #b5007d;
        }
    }
}
.img-scroll__wrap {
    position: relative;
    height: 360px;
    img {
        @include border-radius(5px);
        @include box-shadow(0 3px 7px rgba(0,0,0, .3));
    }
}
.img-scroll__nav {
    position: absolute;
    top: 20px;
    left: 18px;
    z-index: 1000;
    button {
        display: inline-block;
        margin-right: 4px;
        width: 8px;
        height: 8px;
        background: #b8b3b1;
        @include border-radius(1px);
        &:hover {
            background: #fff;
        }
    }
    .activeSlide {
        background: #f9f8f9;
        @include box-shadow(0 0 0 1px #f9f8f9);
    }
}

.overlay_choose-city {
    display: block;
}
.popup_choose-city {
    display: block;
    padding: 10px;
    width: 970px;
    margin-left: -495px; 
    top: 100px;
    p {
        padding-left: 215px;
    }
    .popup__title { 
        span {
            display: block;
        }  
    }
    .select {
        margin: 24px auto 26px;
    }
    .popup__info {
        display: block;
        color: #a29ba5;
        font-size: 14px;
        text-align: center;
    }
    
}
.letters {
    margin: 36px 0 28px;
    a {
        display: inline-block;
        margin-right: 18px;
        color: #ab859f;
        font-size: 18px;
        @include mb;
        text-transform: uppercase;
        text-decoration: none;
        border-bottom: 1px solid;
        line-height: 1;
        &:hover {
            border-bottom: 0;
        }
    }
    .active {
        color: #bd2388;
        border-bottom: 0;
    }
}
.city-list {
    overflow: hidden;
    margin: 37px 0 55px;
    padding-left: 45px;
    ul {
        display: inline-block;
        margin-bottom: 10px;
        width: 145px;
        padding-left: 5px;
        vertical-align: top;
        color: #787275;
        font-size: 16px;
    }
    li {
        margin-bottom: 4px;
    }
    .active {
        @include mb;
    }

}