@import "base";
.l-cols {
    padding: 21px 0 25px;
    overflow: hidden;
}
.sidebar {
    float: left;
    width: 215px;
    img {
        @include border-radius(10px);
    }
}
.main {
    overflow: hidden;
}

.title-l-1 {
    @include mb; 
    font-size: 30px;
    color: #34272f;
}

.title-l-2 {
    margin: 12px 0;
    font-size: 22px;
    color: #483b50;
    @include mb;
    span {
        color: #b5007d;
    }
}

.title-l-3 {
    margin: 10px 0 6px;
    font-size: 18px;
    color: #625667;
    @include mb;
}

.content {
    font-size: 14px;
    color: #6b6468;
    h1 {
        @include mb; 
        font-size: 30px;
        color: #34272f;
    }
    h2 {
        margin: 12px 0;
        font-size: 22px;
        color: #483b50;
        @include mb;
    }
    h3 {
        margin: 10px 0 6px;
        font-size: 18px;
        color: #625667;
        @include mb;
    }
    p {
        margin-bottom: 7px;
    }
    ul {
        margin-bottom: 20px;
        color: #6b6468;
        font-size: 14px;
    }
    li {
        &:before {
            content: "—";
            margin-right: 5px;
        }
    }
}

.breadcrumbs {
    margin-bottom: 2px;
    a, span {
        position: relative;
        display: inline-block;
        color: #adaaac;
        font-size: 14px;
        margin: 0 5px;
        &:before {
            content: "/";
            position: absolute;
            left: -8px;
            top: 0;
        }
    }
    a {
        color: #8e8892;
        &:hover {
            color: #b5007d;
        }
    }
    .home {
        margin-left: 0;
        @include sized-sprite($icons, home);
        &:before {
            display: none;
        }
    }
} 
.page-head {
    margin-bottom: 17px;
    .title-l-1 {
        display: inline-block;
        margin-right: 20px;
    }
    strong {
        display: block;
        color: #947a89;
        font-size: 16px;
        @include mi;
    }
    .badge {
        position: relative;
        top: -6px;
    }
}

.tab {
    margin-top: 36px;
    li {
        padding: 2px;
        width: 158px;
        font-size: 18px;
        margin-bottom: 3px;
    }
    a {
        display: block;
        padding-left: 19px;
        width: 139px;
        height: 40px;
        line-height: 40px;
        text-decoration: none;
        color: #918996;
        &:hover {
            color: #b5007d;
            span {
                border-bottom: 0;
            }
        }
    }
    span {
        border-bottom: 1px dotted;
    }
    .active {
        position: relative;
        @include border-radius(10px);
        background: #ca56a4;
        @include background-image(linear-gradient(#ca56a4, #932966));
        &:after {
            content: "";
            position: absolute;
            right: -6px;
            top: 15px;
            @include sized-sprite($icons, arr3);
        }
        a { 
            @include border-radius(8px);
            background: #fdfdfd;
            @include background-image(linear-gradient(#fdfdfd, #ded5db)); 
        }
        span {
            border-bottom: 0;
            color: #483b50;
        }
    }
}

// Coach page

.about-coach {
    float: left;
    position: relative;
    margin: 5px 0 42px 48px;
    padding-left: 40px;
    width: 70%;
    font-size: 18px;
    &:before {
        content: "“";
        position: absolute;
        left: 0;
        top: -12px;
        color: #d683ba;
        font-size: 63px;
    }
}
.ask-coach {
    margin-bottom: 70px;
    padding-left: 70px;
    clear: both;
    .btn {
        margin-right: 27px;
    }
}
.to-cite{
    i {
        margin-right: 9px;
        @include sized-sprite($icons, link);
    }
}

.comments-wrap {
    padding-bottom: 4px;
    .btn-gray {
        display: inline-block;
    }
}

.comments-head {
    margin-bottom: 30px;
    .title-l-2 {
        display: inline-block;
        margin-right: 24px;
    }
}
.comment {
    margin-bottom: 35px;
    color: #6b6468;
    font-size: 14px;
}
.comment__img {
    float: left;
    margin-right: 19px;
}
.comment__wrap {
    overflow: hidden;
    i {
        display: block;
        margin: 2px 0 5px;
        color: #6b6468;
        @include mi;
        font-size: 13px;
    }
    p {
        
    }
}
.comment__author {
    font-size: 16px;
    @include mb; 
    color: #34272f;
    text-decoration: none;
    &:hover {
        color: #b5007d;
    }
}
.comment__date {
    color: #a19ca4;
    font-size: 12px;
    i {
        display: inline-block;  
        margin-right: 5px;
        vertical-align: middle;
        @include sized-sprite($icons, clock);
    }
}

.popup_add-comment {
    margin-left: -203px;
    top: 100px;
    width: 406px;
    div {
        text-align: center;
    }
    .title-l-1,
    img  {
        display: inline-block;
        vertical-align: middle;
    }
    img {
        margin-right: 16px;
    }
    .btn {
        margin: 22px auto 0;
    }
} 

.more {
    text-align: center;
    font-size: 24px;
    @include mb;
    color: #a39da7;
    text-transform: uppercase;
    i {
        position: absolute;
        left: -30px;
        top: 6px;
        @include sized-sprite($icons, more);
    }
    span {
        position: relative;
        border-bottom: 1px dotted;
        vertical-align: middle; 
        cursor: pointer;
        &:hover {
            color: #6d6273;
            border-bottom: 0;
            i {
                @include sized-sprite($icons, more-h);
            }
        }
    }
}

.filter_sort {
    position: relative;
    z-index: 2;
    width: 425px;
}
.search {
    display: inline-block;
    padding: 10px 17px 9px 28px;
    @include border-radius(10px);
    @include box-shadow(inset 0 -2px 3px rgba(255,255,255, .5), inset 0 -4px 7px rgba(102,13,67, .3)); 
    background: #cb5ba9;
    @include background-image(linear-gradient(#cb5ba9, #7c0e47));
    .input {
        display: inline-block;
        width: 270px;
        margin-right: 7px;
        vertical-align: middle;
    }
}
.search__submit {
    display: inline-block;
    @extend %hide-text;
    vertical-align: middle;
    @include sized-sprite($icons, glass);
    &:hover {
        @include sized-sprite($icons, glass-h);
    }
}

.btn-action {
    position: relative;
    color: #be1f8c;
    font-size: 16px;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: #cb4ca3;
    }
    i {
        display: inline-block;
    }
    span {
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
} 

.downl {
    float: right;
    position: relative;
    i {
        position: absolute;
        left: -37px;
        top: 0;
        @include sized-sprite($icons, download);
    }
}
.training-list {
    clear: both;
    padding-top: 45px;
    .training-date_big {
        float: left;
    }
    .date-more-wrap {
        float: right;
        padding-right: 35px;
    }
}
.training {
    margin-bottom: 46px;
}
.training__descr {
    clear: both;
    padding: 22px 0 0 70px;
    .btn-gray {
        margin-top: 15px;
    }
}

.date-more {
    position: relative;
    margin-bottom: 9px;
    color: #6b6468;
    font-size: 16px;
    @include user-select(none);
    cursor: pointer;
    &:hover {
        color: #be1f8c;
    }
    span {
        border-bottom: 1px dotted;
    }
    strong {
        @include mb;
    }
    i {
        position: absolute;
        left: -26px;
        top: 4px;
        @include sized-sprite($icons, wtf);
    }
    .ui-datepicker-inline  {
        position: absolute;
        z-index: 3000;
        left: -94px;
        top: 31px;
        &:before {
            content: "";
            position: absolute;
            left: 50%;
            top: -9px;
            margin-left: -10px;
            @include sized-sprite($icons, arr4);
        }
    }
}

.training__head {
    color: #a19ea2;
    .coach-item {
        display: inline-block;
        margin: 0 0 10px 14px;
        vertical-align: top;
        font-size: 13px;
        a {
            font-size: 16px;
        }
    }
    .take-part {
        clear: both;
    }
    .date-list {
        float: left;
    }
    
}
.training__info-col {
    float: left;
    width: 400px;
    margin-right: 20px;
}
.training__name {
    margin-bottom: 10px;
    font-size: 24px;
    @include mb;
    color: #483b50;
    span {
        color: #b6047f;
        font-size: 30px;
    }
}
.training__price {
    span {
        color: #b6047f;
        font-size: 22px;
        @include mb;
    }
}
.training__term {
    span {
        color: #625667;
        font-size: 15px;
    }
}
.add-to-cal {
    margin-left: 33px;
    i {
        position: relative;
        margin-right: 2px;
        vertical-align: middle;
        @include sized-sprite($icons, cal);
    }
}
.date-list {
    padding: 2px;
    @include border-radius(10px);
    background: #ca56a5;
    @include background-image(linear-gradient(#ca56a5, #932965));
    ul {
        padding: 13px 23px 18px 46px;
        color: #483b50;
        background: #fff;
        @include border-radius(8px);
        overflow: hidden;
    }
    li {
        position: relative;
        margin-bottom: 4px;
    }
    strong {
        @include mb;
    }
    i {
        display: none;
        position: absolute;
        left: -30px;
        @include sized-sprite($icons, cal); 
    }
    .active {
        i {
            display: inline-block;
        }
    }
}

.download {
    margin-bottom: 23px;
    padding-left: 37px;
    span {
        font-size: 14px;
        color: #888;
    }
    .btn-action {
        margin-right: 30px;
        text-decoration: underline;
        line-height: 1.8;
        &:hover {
            text-decoration: none;
        }
        i {
            position: absolute;
            left: -37px;
            top: -6px;
            color: #fff;
            font-style: normal;
            font-size: 8px;
            line-height: 23px;
            text-transform: uppercase;
            @include sized-sprite($icons, downl);
        }
        b {
            display: block;
            width: 21px;
            height: 30px;
            text-align: center;
            font-weight: normal;
        }
    }
    p {
        margin: 4px 0;
        color: #6b6468;
        font-size: 12px;
    }
}
.downl-wrap {
    .title-l-2 {
        margin-bottom: 30px;
    }
    .title-l-3 {
        margin-bottom: 17px;
    }
}
.training-date-wrap {
    padding: 27px 0 150px;
    overflow: hidden;
    .training-date {
        float: left; 
        width: 33%;
    }
    .training-date__title {
        margin-bottom: 8px;
    }
}

.gallery {
    margin-right: -25px;
    padding-top: 26px;
    a {
        display: inline-block;
        margin: 0 18px 18px 0;
        @include border-radius(3px);
        overflow: hidden;
        img {
            display: block;
            @include border-radius(3px); 
        }
    } 
    .more {
        margin-top: 20px;
    }
}